# This Notebook is a part of basic eda to understand the data and then start creating data engineering pipeline 
# Will try to identify main features which contribute to PM(2.5)

In [1]:
#Import the necessary modules
from azure.storage.blob import BlobServiceClient
import pandas as pd
import time

In [2]:
def get_data_blob(STORAGEACCOUNTURL:str,STORAGEACCOUNTKEY:str,LOCALFILENAME:str,CONTAINERNAME:str,BLOBNAME:str) -> str :
    '''
    Objective:
    This function will help us read a blob from blob and store in sampled_data directory

    Parameters:
    STORAGEACCOUNTURL:str,STORAGEACCOUNTKEY:str,LOCALFILENAME:str,CONTAINERNAME:str,BLOBNAME:str

    Returns:
    Time taken to read the file

    Resource:
    https://learn.microsoft.com/en-us/azure/architecture/data-science-process/explore-data-blob

    '''
    #download from blob
    t1=time.time()
    blob_service_client_instance = BlobServiceClient(account_url=STORAGEACCOUNTURL, credential=STORAGEACCOUNTKEY)
    blob_client_instance = blob_service_client_instance.get_blob_client(CONTAINERNAME, BLOBNAME, snapshot=None)
    with open(LOCALFILENAME, "wb") as my_blob:
        blob_data = blob_client_instance.download_blob()
        blob_data.readinto(my_blob)
    t2=time.time()
    return(("It takes %s seconds to download "+BLOBNAME) % (t2 - t1))

In [3]:
get_data_blob( "https://dataairquality.blob.core.windows.net/","R0zWp7D/7qFb1y4nkNg1gFkJepOmjnb57SjDqv7KjhOej/DwJgRS/uLn1/r1tK08BrEN5/Z103L8+AStJFr8Eg==","Sampled_Data/AP001.csv","raw","AP001.csv")

'It takes 4.901625633239746 seconds to download AP001.csv'

In [8]:
# LOCALFILE is the file path
data_AP001 = pd.read_csv("Sampled_Data/AP001.csv")

In [5]:
data_AP001.head()

,From Date,To Date,PM2.5 (ug/m3),PM10 (ug/m3),NO (ug/m3),NO2 (ug/m3),NOx (ppb),NH3 (ug/m3),SO2 (ug/m3),CO (mg/m3),...,Temp (degree C),RH (%),WS (m/s),WD (deg),SR (W/mt2),BP (mmHg),VWS (m/s),Xylene (ug/m3),RF (mm),AT (degree C)
0,2016-07-01 10:00:00,2016-07-01 11:00:00,10.67,39.0,17.67,39.2,32.33,7.07,6.60,0.48,...,33.43,71.67,2.30,226.33,123.67,NaN,-0.1,0.1,0.0,23.05
1,2016-07-01 11:00:00,2016-07-01 12:00:00,2.00,39.0,20.50,41.9,35.80,7.40,NaN,0.49,...,33.70,70.00,2.50,223.00,186.00,NaN,-0.1,0.1,0.0,NaN
2,2016-07-01 12:00:00,2016-07-01 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-07-01 13:00:00,2016-07-01 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-07-01 14:00:00,2016-07-01 15:00:00,20.50,50.0,15.40,43.6,32.78,6.35,6.38,0.47,...,33.57,63.50,1.88,223.00,240.50,NaN,-0.1,0.1,0.0,NaN

In [8]:
data_AP001.columns

Index(['From Date', 'To Date', 'PM2.5 (ug/m3)', 'PM10 (ug/m3)', 'NO (ug/m3)',
       'NO2 (ug/m3)', 'NOx (ppb)', 'NH3 (ug/m3)', 'SO2 (ug/m3)', 'CO (mg/m3)',
       'Ozone (ug/m3)', 'Benzene (ug/m3)', 'Toluene (ug/m3)',
       'Temp (degree C)', 'RH (%)', 'WS (m/s)', 'WD (deg)', 'SR (W/mt2)',
       'BP (mmHg)', 'VWS (m/s)', 'Xylene (ug/m3)', 'RF (mm)', 'AT (degree C)'],
      dtype='object')

In [11]:
# Missing value Analysis

data_AP001.isna().sum()/len(data_AP001)*100

# Main Objective-
# 1.Undestand which cloumns and important for PM 2.5 and then create a script such that everyfile get's throught the script
# and get's dumped in the processed folder.

From Date           0.000000
To Date             0.000000
PM2.5 (ug/m3)       8.160609
PM10 (ug/m3)        7.945900
NO (ug/m3)          6.757396
NO2 (ug/m3)         6.846999
NOx (ppb)           6.483516
NH3 (ug/m3)         9.443787
SO2 (ug/m3)         8.224852
CO (mg/m3)          7.568893
Ozone (ug/m3)       7.748098
Benzene (ug/m3)     6.655959
Toluene (ug/m3)     6.655959
Temp (degree C)     6.825021
RH (%)              6.540997
WS (m/s)            6.510566
WD (deg)            7.597633
SR (W/mt2)          7.710904
BP (mmHg)          97.969569
VWS (m/s)           6.439560
Xylene (ug/m3)      6.677937
RF (mm)             6.534235
AT (degree C)       6.868977
dtype: float64

In [12]:
# First step - Add a columns for the particular region

data_AP001['Region']="Andra Pradesh"

In [13]:
data_AP001.head(10)

,From Date,To Date,PM2.5 (ug/m3),PM10 (ug/m3),NO (ug/m3),NO2 (ug/m3),NOx (ppb),NH3 (ug/m3),SO2 (ug/m3),CO (mg/m3),...,RH (%),WS (m/s),WD (deg),SR (W/mt2),BP (mmHg),VWS (m/s),Xylene (ug/m3),RF (mm),AT (degree C),Region
0,2016-07-01 10:00:00,2016-07-01 11:00:00,10.67,39.00,17.67,39.20,32.33,7.07,6.60,0.48,...,71.67,2.30,226.33,123.67,NaN,-0.1,0.10,0.0,23.05,Andra Pradesh
1,2016-07-01 11:00:00,2016-07-01 12:00:00,2.00,39.00,20.50,41.90,35.80,7.40,NaN,0.49,...,70.00,2.50,223.00,186.00,NaN,-0.1,0.10,0.0,NaN,Andra Pradesh
2,2016-07-01 12:00:00,2016-07-01 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Andra Pradesh
3,2016-07-01 13:00:00,2016-07-01 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Andra Pradesh
4,2016-07-01 14:00:00,2016-07-01 15:00:00,20.50,50.00,15.40,43.60,32.78,6.35,6.38,0.47,...,63.50,1.88,223.00,240.50,NaN,-0.1,0.10,0.0,NaN,Andra Pradesh
5,2016-07-01 15:00:00,2016-07-01 16:00:00,15.25,59.50,24.30,45.12,40.12,6.65,6.53,0.51,...,63.75,1.40,213.25,152.25,NaN,-0.1,0.10,0.0,25.60,Andra Pradesh
6,2016-07-01 16:00:00,2016-07-01 17:00:00,11.67,60.00,26.73,49.10,43.80,6.93,5.70,0.46,...,64.00,1.50,208.67,92.67,NaN,-0.1,0.23,0.0,25.70,Andra Pradesh
7,2016-07-01 17:00:00,2016-07-01 18:00:00,11.75,57.50,19.10,46.33,36.82,8.12,6.23,0.44,...,64.00,1.95,222.75,35.00,NaN,-0.1,0.10,0.0,25.15,Andra Pradesh
8,2016-07-01 18:00:00,2016-07-01 19:00:00,18.00,57.75,14.50,44.20,32.33,7.78,6.07,0.45,...,63.75,2.15,220.75,14.00,NaN,-0.1,0.10,0.0,24.90,Andra Pradesh
9,2016-07-01 19:00:00,2016-07-01 20:00:00,12.00,63.00,10.43,41.00,27.83,8.13,6.20,0.41,...,64.00,2.40,220.67,7.00,NaN,-0.1,0.10,0.0,24.67,Andra Pradesh

In [14]:
# Let's drop missing values -
# We already have a  lot of data for each state and we wish to come up analysis at state and monthly level so we have a lot of data at district_level
# We are doing analysis at state level since this for Understanding AI Projects (POC)
data_AP001=data_AP001.dropna()

In [15]:
# Missing value Analysis
# So the first step in the script would be to add state field 
# Second would to drop the missing values
data_AP001.isna().sum()/len(data_AP001)*100

From Date          0.0
To Date            0.0
PM2.5 (ug/m3)      0.0
PM10 (ug/m3)       0.0
NO (ug/m3)         0.0
NO2 (ug/m3)        0.0
NOx (ppb)          0.0
NH3 (ug/m3)        0.0
SO2 (ug/m3)        0.0
CO (mg/m3)         0.0
Ozone (ug/m3)      0.0
Benzene (ug/m3)    0.0
Toluene (ug/m3)    0.0
Temp (degree C)    0.0
RH (%)             0.0
WS (m/s)           0.0
WD (deg)           0.0
SR (W/mt2)         0.0
BP (mmHg)          0.0
VWS (m/s)          0.0
Xylene (ug/m3)     0.0
RF (mm)            0.0
AT (degree C)      0.0
Region             0.0
dtype: float64

In [16]:
# Let's Drop to date aswell since we will work to extract month from the date and then process the same

data_AP001.drop(['To Date'],axis=1,inplace=True)

In [18]:
data_AP001.columns

Index(['From Date', 'PM2.5 (ug/m3)', 'PM10 (ug/m3)', 'NO (ug/m3)',
       'NO2 (ug/m3)', 'NOx (ppb)', 'NH3 (ug/m3)', 'SO2 (ug/m3)', 'CO (mg/m3)',
       'Ozone (ug/m3)', 'Benzene (ug/m3)', 'Toluene (ug/m3)',
       'Temp (degree C)', 'RH (%)', 'WS (m/s)', 'WD (deg)', 'SR (W/mt2)',
       'BP (mmHg)', 'VWS (m/s)', 'Xylene (ug/m3)', 'RF (mm)', 'AT (degree C)',
       'Region'],
      dtype='object')

In [21]:
# Getting month from the data
data_AP001['From Date'] = pd.to_datetime(data_AP001['From Date'])
data_AP001['Month'] = data_AP001['From Date'].dt.month

In [23]:
# Dropping from date as well
data_AP001.drop(['From Date'],axis=1,inplace=True)

In [24]:
data_AP001.head()

,PM2.5 (ug/m3),PM10 (ug/m3),NO (ug/m3),NO2 (ug/m3),NOx (ppb),NH3 (ug/m3),SO2 (ug/m3),CO (mg/m3),Ozone (ug/m3),Benzene (ug/m3),...,WS (m/s),WD (deg),SR (W/mt2),BP (mmHg),VWS (m/s),Xylene (ug/m3),RF (mm),AT (degree C),Region,Month
5482,39.25,65.50,19.45,97.28,67.55,9.75,3.73,0.47,16.15,1.45,...,2.03,290.00,6.75,925.25,-0.03,1.00,0.0,18.40,Andra Pradesh,2
7405,16.00,56.00,1.27,27.27,15.57,7.00,5.13,0.22,19.27,0.50,...,1.07,102.67,7.00,1050.00,0.00,0.00,0.0,23.60,Andra Pradesh,5
21009,45.50,68.25,5.97,31.43,21.57,24.85,4.65,0.67,111.55,1.45,...,2.32,119.25,3.00,897.00,-0.10,0.23,0.0,18.65,Andra Pradesh,11
21158,39.75,67.50,28.62,54.45,52.23,24.62,4.47,0.87,70.30,0.90,...,1.18,38.00,3.00,756.00,-0.03,0.20,0.0,17.50,Andra Pradesh,11
22836,67.50,107.25,4.90,41.15,25.90,17.05,2.62,0.52,66.52,1.52,...,0.72,181.00,2.00,740.00,0.00,0.18,0.0,19.20,Andra Pradesh,2

In [26]:
# Note -
# Not doing feature analysis as let's dump the data as it only and then later analyze the same , right know the focus is to 
# set up the data engineering pipeline

In [27]:
# Final Points to used before sending the file to the processed container -
# 0.Droping BP Since it has 97% of value as null
# 1.Remove Null's
# 2.Extract Month from from_date
# 3.Drop from_date and to_date
# 4.Add a column for State

In [3]:
'''
Comments -
Upon developing the processed script we were able to find out data isn't consistent so more 
robust eda needs to be developed.
Author -Aditya Bhatt 7::52 AM
Considering AP001 as a reference 
Objectives -
1.Develop a standard etl rule via eda so that the same transformations can be applied to all 
the files.
'''
import numpy as np
import pandas as pd
import os
class DataCheck:
    def __init__(self,filepath):
        self.filepath = filepath
    
    def column_count_check(self):
        data=pd.read_csv(self.filepath)
        if len(data.columns)==23:
            return("Matches with base")
        
        else:
            return("Doesn't have enough columns")
        
    #This function is just for testing purposes since i will have too reserach on domian level which factors effect P.M 2.5 Levels
    # Now the task is to delete those files which don't have this dataset

    def get_column_matches(self):
         data=pd.read_csv(self.filepath)
         meta_list=[]
         for i in list(data.columns):
            if i in ['From Date','PM2.5 (ug/m3)','PM10 (ug/m3)','NO (ug/m3)','NO2 (ug/m3)','NOx (ppb)','NH3 (ug/m3)','SO2 (ug/m3)','CO (mg/m3)','Ozone (ug/m3)'	,"Benzene (ug/m3)"]:
                meta_list.append("+1")
         if len(meta_list)==11:
               return ("Has col")
        
         


# Since this code will be just used to check and inspect the data quality issue using files dunped in local
# Checking on  a random file
folder_path = "C:/Users/aditya/Desktop/2023/AIR_QUALITY_AI/Raw"
files = [f for f in os.listdir(folder_path) if os.path.isfile(os.path.join(folder_path, f))]
meta_dict={}
for i in files:
        random_file =DataCheck(filepath =f"C:/Users/aditya/Desktop/2023/AIR_QUALITY_AI/Raw/{i}")
        temp=random_file.get_column_matches()
        meta_dict[i]=temp

In [8]:
# percentage of files that will be dropped 
count_drop=0
for i in meta_dict.values():
    if i ==None:
        count_drop=count_drop+1
print("This is the percentage of files that will be dropped sine they don't have the necessary columns to be used for analysis")
print(round((count_drop/len(meta_dict)*100),2))

This is the percentage of files that will be dropped sine they don't have the necessary columns to be used for analysis
23.13